[flake8]
exclude = .git,.tox,__pycache__
max-line-length = 88
# TODO: enable ANN aftewards
# TODO: enable PT (pytest) afterwards
# TODO: enable R for return values when __repr__ for containers is refactored
select = C,E,F,W,B,SIM,T
# the line lengths are enforced by black and docformatter
# therefore we ignore E501 and B950 here
# SIM119 - are irrelevant as we still support python 3.6 series
ignore = E501,B950,W503,E203,SIM119
