*.egg-info/

__pycache__
.idea/
.cache/
.mypy_cache/
.tox/
.venv/

.coverage

# generated apidocs
docs/_build/
docs/api/

.vscode/settings.json

# pycharm shenanigans
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
