repos:
- repo: https://github.com/ambv/black
  rev: stable
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: flake8
    additional_dependencies: [flake8-docstrings]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/doc8
  rev: 0.8.1rc2
  hooks:
  - id: doc8

#- repo: https://github.com/pre-commit/mirrors-mypy
#  rev: v0.740
#  hooks:
#  - id: mypy
#    args: [--no-strict-optional, --ignore-missing-imports]

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.40"
  hooks:
  - id: check-manifest
